<!-- Loop over each object in the projects array -->
 <div class="card">
  <div class="posts">
      <h3 class="post-title">{{title}}</h3>
      <h4 class="post-subtitle">{{description}}</h4>
    <p class="post-meta">Posted by {{user.name}} on {{format_date created_at}}</p>
  </div>
 </div>
 <p></p>