<div class="row text-center">
    <div class="col-md-8"><h2>My Posts</h2></div>
    <div class="col-md-4">
      <a href="create-post"><button class="btn btn-primary" type="submit">New post</button></a>
</div>
</div>

{{> posts posts}}
