<!-- show single post-->
<div class="card">
    <h2 class="post-title">{{post.title}}</h2>
    <h3 class="post-subtitle">{{post.description}}</h3>
</div>
{{!-- {{> comments post.comments}} --}}
{{!-- 
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script> --}}